.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: min-content;
}
.wrap div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}
.wrap div .lbR {
  color: red;
}
.wrap div .lbG {
  color: green;
}
.wrap div .lbB {
  color: blue;
}
