.wrap {
  margin: 30px auto 0;
  width: 100vh;
}
.wrap .monthNum {
  text-align: center;
}
.wrap .monthContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 400px;
  margin: 0 auto;
}
.wrap .monthContainer .cont {
  display: grid;
  grid-template-columns: 50px auto;
}
.wrap .monthContainer .cont input {
  box-sizing: border-box;
}
.wrap .divTable {
  border: 1px solid lightgray;
  margin-top: 40px;
}
.wrap .divTable h1 {
  text-align: center;
}
.wrap .divTable .weekDay {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
}
.wrap .divTable .monthDay {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 50vh;
}
.wrap .divTable .monthDay span {
  background-color: lightgray;
  text-align: center;
  margin: 10px;
  font-size: larger;
  display: grid;
  align-items: center;
}
.wrap .divTable .monthDay .weekend {
  background-color: lightblue;
}
