.wrap {
  margin: 50px auto 0;
  width: 600px;
  text-align: center;
}
.wrap .msgContainer {
  display: flex;
  flex-direction: column;
}
.wrap .msgContainer div {
  border: 1px solid lightgray;
  padding: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.wrap .msgContainer div p {
  text-align: justify;
  text-indent: 15px;
}
.wrap .clButton {
  margin-bottom: 10px;
  text-align: right;
}
.wrap .clButton button {
  width: 80px;
}
.wrap .msgClass {
  display: flex;
  flex-direction: column;
}
.wrap .msgClass span {
  text-align: left;
}
.wrap .msgClass .gridCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.wrap .msgClass .propBorder {
  border: 1px solid lightgray;
  padding: 5px;
  margin-top: 5px;
}
.wrap .msgClass textarea {
  min-height: 53px;
  min-width: 288px;
  max-height: 53px;
  max-width: 288px;
}
.wrap .msgClass input[type=submit] {
  margin-top: 5px;
}
