.wrap
{
    margin: 100px auto 0;
    width: 400px;
    background-color: #ddeeff;
    
    .gridCont
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .propBorder
    {
        border: 1px solid lightgray;
        padding: 5px;
        margin-top: 5px;
    }

    .regHeader
    {
        background-color: #334466;
        text-align: center;
        padding: 2px 0;
        
        span
        {
            color: white;
            font-weight: bold;
        }
    }

    .formCl
    {
        padding: 5px;
        
        .userSecDet
        {            
            .container
            {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                input
                {
                    width: 100%;
                    box-sizing: border-box;
                    margin: 5px 0;
                }
                
                span
                {
                    margin: 5px 0;
                }
            }
        }

        .GenderCl
        {
            div
            {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }

        .foreignLanCl
        {
            .languageCont
            {
                display: flex;
                flex-direction: column;
            }
        }

        .additionalInfoCl
        {
            textarea
            {
                min-height: 53px;
                min-width: 184px;                max-height: 53px;
                max-width: 184px;
            }
        }

        .buttons
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10px;
        }
    }
}