#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-right: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-right: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.wrap {
  text-align: right;
}
.wrap nav a {
  cursor: pointer;
}
.wrap ul {
  margin-top: 10px;
  direction: rtl;
}
.wrap li span {
  color: white;
  font-size: 30px;
}
.wrap li img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20%;
}
.wrap .navbar-expand {
  justify-content: flex-end;
}
.contentClass {
  margin-top: 50px;
}
textarea {
  max-height: 100px;
  min-height: 100px;
}
.usersPanel {
  margin: 15px;
}
.usersPanel .userItem {
  border-radius: 15px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}
.usersPanel .userItem .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}
.usersPanel .userItem .cont img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.usersPanel .userItem .cont span {
  display: inline-flex;
  align-items: center;
}
.modal .close {
  outline: none;
}
.modal .custom-file-label {
  word-break: break-all;
}
.modal .custom-file-input {
  height: inherit;
}
.modal .imgContChangePic {
  text-align: center;
  margin-bottom: 10px;
}
.modal .imgContChangePic img {
  max-width: 450px;
}
.contMod {
  direction: rtl;
}
.titMod {
  direction: ltr;
}
.giftsPanel {
  margin: 15px;
}
.giftsPanel .insBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  padding: 15px;
}
.giftsPanel .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.giftsPanel .btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.giftsPanel .giftItem {
  border-radius: 15px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}
.giftsPanel .giftItem p {
  text-indent: 10px;
  height: 50px;
}
.giftsPanel .giftItem .imgCont img {
  width: 210px;
  height: 120px;
  margin-bottom: 10px;
}
.switch {
  position: relative;
  width: 50px;
  height: 24px;
  margin-top: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 24px;
}
.switch .slider.round:before {
  border-radius: 50%;
}
