body
{
    margin: 30px auto 0;
    width: min-content;
    text-align: center; 
}

h1
{
    width: 400px;
}

.wrap
{
}

.wrapUpload
{

    form
    {
        display: flex;
        flex-direction: column;
    }

    input[type=submit]
    {
        margin-top: 10px;
    }
}