body {
  margin: 30px auto 0;
  width: min-content;
  text-align: center;
}
h1 {
  width: 400px;
}
.wrap .formCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.wrapUpload form {
  display: flex;
  flex-direction: column;
}
.wrapUpload input[type=submit] {
  margin-top: 10px;
}
.showWrap form input[type=submit] {
  margin-top: 10px;
}
.showWrap .picContainer {
  margin-top: 30px;
  border: 1px solid lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
}
