body {
  margin: 30px auto 0;
  width: min-content;
  text-align: center;
}
h1 {
  width: 400px;
}
.wrap .formCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.wrapUpload .mainBut {
  align-items: center;
}
.wrapUpload .mainBut button {
  width: 90px;
}
.wrapUpload form {
  display: flex;
  flex-direction: column;
}
.wrapUpload input[type=submit] {
  margin-top: 10px;
}
.showWrap h1 {
  width: auto;
}
.showWrap form button {
  margin-bottom: 10px;
}
.showWrap .picNameSub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.showWrap .picContainer {
  margin-top: 30px;
  border: 1px solid lightgray;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
}
.showWrap .picContainer img {
  width: 250px;
  margin-right: 10px;
}
.galleryWrap h1 {
  width: auto;
}
.galleryWrap .picsCont {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  border: 1px solid lightgray;
  width: 1200px;
}
.galleryWrap .picsCont img {
  width: 200px;
  max-height: 250px;
  padding: 2px;
  margin: auto;
}
.galleryWrap table {
  margin-top: 5px;
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.galleryWrap table th,
.galleryWrap table td {
  padding: 15px;
  text-align: center;
  border: 1px solid lightgray;
  border-collapse: collapse;
}
